
<style>
.login {
  zmargin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
</style>
<div class='login'>
  <h1> MNDL Login </h1>
  <form method=post action=login>
    <input name=email placeholder='you@domain.com'/>
    <br/><br/>
    <input name=password placeholder='password' type=password />
    <br/><br/>
    <button> Login </button>
  </form>
</div>