
<style>
.login {  
  background-color: white;
  border-radius: 10px;
}
</style>
<div class='login'>
  <h1 style='margin-top: 0'> MNDL Login </h1>
  <form method=post action=login>
    <input name=email placeholder='you@domain.com' autofocus />
    <br/><br/>
    <input name=password placeholder='password' type=password />
    <br/><br/>
    <button> Login </button>
  </form>
</div>