
<div class='new-project'>
  <h1> Create New Project </h1>
  <form method=post action=/project>
    <label> Name </label>
    <input name=name placeholder='My project' required />
    <br/><br/>
    <label> DNA </label>
    <br/>
    <textarea required name=dna placeholder='ABGTGABTBUA...'></textarea>
    <br/><br/>
    <button> Submit </button>
  </form>
</div>