
<div class='new-project'>
  <h1> Create New Project <i class='fa fa-plus'></i></h1>
  <form method=post action=/project>
    <label> Name </label>
    <br/>
    <input name=name placeholder='My project' value="<%= nice_id if !$prod %>" required />
    <br/><br/>
    <label> Description </label>
    <br/>
    <textarea rows=10 cols=30 name=desc placeholder='My project desc'></textarea>
    <br/><br/>
    <button autofocus> Submit </button>
  </form>
</div>