<%
  projects = $projects.all(user_id: cuid)
%>

<style>
.single-project {
  background-color: whitesmoke;
  padding:5px 10px;
  margin-top:10px;
}
</style>

<div class='projects'>
  <h1> Projects </h1>

  <a class='btn btn1' href='/projects/new'><button> Create New Project </button></a>
  <br/>
  <br/>

  <% if projects.any? %>
    <% projects.each do |project| %>
      <div class='single-project'>
        <a href='/projects/<%=project[:_id]%>'> <%= project[:name] %></a>
        (created <%= nice_datetime project[:created_at] %>)
        <br/><br/>        
      </div>      
    <% end %>
  <% else %>    
  <% end %>
</div>