<%
  projects = $projects.all(user_id: cuid)
%>
<div class='projects'>
  <h1> Projects </h1>

  <a class='btn btn1' href='/projects/new'><button> New Project </button></a>
  <br/>
  <hr/>
  <br/>

  <% if projects.any? %>
    <% projects.each do |project| %>
      <div class='single-project'>
        Name: <%= project[:name] %>
        <br/>
        Status: <%= project[:status] %>
        <br/>
        Created At: <%= project[:created_at] %>
        <br/>
        
        <label> DNA </label>
        <hr/>
        <%= project[:dna] %>
      </div>      
    <% end %>
  <% else %>    
  <% end %>
</div>