<% if !$prod %>

<style>
.dev_mode {
  position: fixed; 
  top: 0; 
  right: 0; 
  height: 100px; 
  width: 100px; 
  background-color: goldenrod; 
  text-align: center; 
  font-weight: bold; 
  font-size: 30px;
}
</style>
<div class=dev_mode>
  DEV MODE
</div>
<% end %>
