<%
  flash_type = session[:flash_type] || "info" rescue 'info' #possible types: primary, secondary, success, danger, warning, success, info, light, dark
  session[:flash_type] = nil
  text ||= flash.message
  if text.present?
%>

<style>
.flash-alert {
  margin: auto;
  text-align: center;
  background-color: grey;
  max-width: 500px;
  padding: 10px 20px;
  color: white;
}
</style>
<div class="flash-alert">
<!--   <button type="button" class="close">×</button> -->
  <%= text %>
</div>
<% end %>